# One Hot Encoding using python

In this specific dataset for a survey that been conducted as demonstrated below Q4_shared_reason is the output of the check box question in the survey that are stored in one column which is an issue while doing analysis. the main analysis is being done on SPSS which solving this problem is very painful in SPSS, so to solve this problem, all the categories available should be stored as "Yes", "No" questions or in this case 1's and 0's in a column for every category.

In [10]:
import numpy as np
import pandas as pd

import pyreadstat

df, meta = pyreadstat.read_sav('/Users/hosseinhedayati/Library/CloudStorage/OneDrive-OkanaganCollege/BUAD 344/OC_survey.sav')
df.head(10)

,timestamp,Q1_status,Q2_housing_type,Q3_shared_private,Q4_shared_reason,Q5a_proximity,Q5b_transport_access,Q5c_privacy,Q5d_security,Q5e_env,...,Q8_current_loc,Q9_prefered_loc,Q10_pay_rent,Q11_rent,Q12_income,Q13_ambassador,Q14_search_platform,Q15_difficulty_search,Q16_before_after,Q17_age
0,2022/10/19 9:15:39 PM MDT,3.0,1.0,NaN,Temporarily waiting for house or apartment,3.0,4.0,3.0,5.0,4.0,...,5.0,1.0,1.0,2.0,2.0,1.0,6.0,2.0,1.0,4.0
1,2022/10/19 9:18:19 PM MDT,3.0,3.0,1.0,Providing care for a family member;Other,3.0,5.0,5.0,5.0,5.0,...,5.0,5.0,2.0,NaN,2.0,1.0,6.0,5.0,1.0,3.0
2,2022/10/19 9:24:18 PM MDT,3.0,1.0,1.0,Economic situation,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,1.0,4.0,2.0,1.0,1.0,1.0,1.0,4.0
3,2022/10/19 9:25:17 PM MDT,1.0,3.0,1.0,Other,4.0,5.0,5.0,4.0,5.0,...,5.0,1.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,3.0
4,2022/10/19 9:26:17 PM MDT,3.0,1.0,1.0,Living with partner,4.0,5.0,4.0,4.0,4.0,...,5.0,5.0,1.0,3.0,2.0,1.0,1.0,4.0,2.0,5.0
5,2022/10/19 9:26:19 PM MDT,1.0,8.0,2.0,,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,2.0,NaN,1.0,1.0,6.0,5.0,1.0,5.0
6,2022/10/19 9:28:32 PM MDT,1.0,8.0,1.0,Other,4.0,5.0,4.0,5.0,5.0,...,5.0,5.0,2.0,NaN,1.0,1.0,6.0,5.0,1.0,5.0
7,2022/10/19 9:29:12 PM MDT,2.0,4.0,1.0,Economic situation;Temporarily waiting for hou...,2.0,5.0,3.0,4.0,4.0,...,5.0,1.0,1.0,2.0,0.0,1.0,1.0,3.0,1.0,4.0
8,2022/10/19 9:29:29 PM MDT,2.0,1.0,1.0,Living with partner,4.0,5.0,2.0,4.0,4.0,...,1.0,1.0,1.0,3.0,1.0,3.0,1.0,3.0,1.0,5.0
9,2022/10/19 9:55:43 PM MDT,1.0,5.0,1.0,Economic situation;Other,5.0,5.0,5.0,4.0,5.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,3.0

Making a new dataset to spread our one column into 7 categories and 7 column.

In [15]:
from numpy import size

size = (50,7) #size of the new dataset
q4_matrix = np.zeros(size)
q4_one_hot = pd.DataFrame(q4_matrix)
q4_one_hot.columns = ["Q4_Loss of housing", 
"Q4_Economic situation", 
"Q4_Providing care for a family member", 
"Q4_Loss of employment", 
"Q4_Temporarily waiting for house or apartment", 
"Q4_Living with partner", 
"Q4_Other"]

and the new one hot encoded data frame looks like

In [16]:
df.head()
for i in range(0,len(df)):
    if df['Q4_shared_reason'][i]=='': 
        continue
    elif ';' not in df['Q4_shared_reason'][i]: #if its only one category stored in the cell
        q4_one_hot['Q4_'+df['Q4_shared_reason'][i]][i] = 1 #using categories for indexing
    else:
        temp=df['Q4_shared_reason'][i].split(';') #spliting the cell into seperate sell by ;
        j=0
        for j in range(len(temp)):
            q4_one_hot['Q4_'+temp[j]][i]=1
            j=+1
        
    i=+1

q4_one_hot.head(10)

,Q4_Loss of housing,Q4_Economic situation,Q4_Providing care for a family member,Q4_Loss of employment,Q4_Temporarily waiting for house or apartment,Q4_Living with partner,Q4_Other
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0.0,1.0,0.0,0.0,1.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,1.0

in the end with concatinating the 2 df's we have a clean one hot encoded dataframe.

In [14]:
df_ext = pd.concat([df, q4_one_hot], axis=1, join="inner")
df_ext=df_ext.drop('Q4_shared_reason', axis=1)
df_ext.head(10)

,timestamp,Q1_status,Q2_housing_type,Q3_shared_private,Q5a_proximity,Q5b_transport_access,Q5c_privacy,Q5d_security,Q5e_env,Q5f_prop_value,...,Q15_difficulty_search,Q16_before_after,Q17_age,Q4_Loss of housing,Q4_Economic situation,Q4_Providing care for a family member,Q4_Loss of employment,Q4_Temporarily waiting for house or apartment,Q4_Living with partner,Q4_Other
0,2022/10/19 9:15:39 PM MDT,3.0,1.0,NaN,3.0,4.0,3.0,5.0,4.0,5.0,...,2.0,1.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2022/10/19 9:18:19 PM MDT,3.0,3.0,1.0,3.0,5.0,5.0,5.0,5.0,5.0,...,5.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2022/10/19 9:24:18 PM MDT,3.0,1.0,1.0,5.0,5.0,5.0,5.0,5.0,2.0,...,1.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2022/10/19 9:25:17 PM MDT,1.0,3.0,1.0,4.0,5.0,5.0,4.0,5.0,5.0,...,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2022/10/19 9:26:17 PM MDT,3.0,1.0,1.0,4.0,5.0,4.0,4.0,4.0,5.0,...,4.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,2022/10/19 9:26:19 PM MDT,1.0,8.0,2.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2022/10/19 9:28:32 PM MDT,1.0,8.0,1.0,4.0,5.0,4.0,5.0,5.0,5.0,...,5.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,2022/10/19 9:29:12 PM MDT,2.0,4.0,1.0,2.0,5.0,3.0,4.0,4.0,5.0,...,3.0,1.0,4.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
8,2022/10/19 9:29:29 PM MDT,2.0,1.0,1.0,4.0,5.0,2.0,4.0,4.0,3.0,...,3.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,2022/10/19 9:55:43 PM MDT,1.0,5.0,1.0,5.0,5.0,5.0,4.0,5.0,5.0,...,2.0,1.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

making a .csv to improt on SPSS to continue the analysis.

In [9]:
compression_opts = dict(method='zip',

                        archive_name='out.csv')  

df_ext.to_csv('out.zip', index=False,

          compression=compression_opts)